
						   		<div id="textPolicy">
									<h3>CHARME PRIVACY POLICY</h3>
									<p>Your Privacy matters to Charme (“Charme”, “we”, or “us”). This Privacy Policy explains how we collect, use, share and protect information about our Charme Members and Charme Professionals (collectively referred to as “Charme Users” or “you”).</p>
									<p>This policy applies to information we collect on the Charme Application (the “Charme App”) and on our website at www.goCharme.com (“Charme Website”) (collectively referred to as the “Charme Services”). The policy does not apply to information that you provide to or is collected by any third party whether through or in connection with your use of the Charme Services or otherwise, including information Charme Members and Charme Professionals may exchange between each other. Third parties may have their own Privacy policies, which we encourage you to inquire about before providing information to them. You agree and acknowledge that Charme has no duty or responsibility to maintain and safeguard any information you may provide to or is collected by any third party whether through or in connection with your use of the Charme Services or otherwise.</p>
									<p>This Privacy Policy is incorporated by reference into both our Charme Member Terms of Use and Charme Professional Terms of Use.</p>
									<p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, do not use the Charme Services. By downloading and using the Charme App and/or registering with us through the Charme Website, you agree to this Privacy policy. This policy may change from time to time. Your continued use of the Charme Services after we make changes is deemed to be acceptance of those changes, so please check this policy periodically for updates.</p>
									<h4><strong>Persons under the Age of 18</strong></h4>
									<p>The Charme Services are not intended for persons under 18 years of age, and we do not knowingly collect personal information from persons under 18 years of age. If we learn we have collected or received personal information from persons under 18 without verification of parental consent, we will delete that information.</p>
									<h4><strong>Information that is being collected</strong></h4>
									<p>Personal Information. We may ask you to provide us with certain categories of information such as personal information, which is information that could reasonably be used to identify you personally, such as your name, e-mail address, home or office address and mobile number (“Personal Information”). We may also collect personal information about Charme Professionals through certain background checks we perform.</p>
									<p><strong>Non Personal Information.</strong>When you download the Charme App, access and use the Charme Services, we may use technology to automatically collect:</p>
									<ul>
										<li>Usage Details. When you access and use the Charme Services, we may automatically collect certain details of your access to and use of the Charme Services, including location data and other communication data and the resources that you access on or through the Charme Services</li></br>
										<li>Device Information. We may collect information about your desktop or mobile device and internet connection, including the device’s unique device identifier, IP address, operating system, browser type, and for mobile devices certain network information and the device’s telephone number.</li></br>
										<li>Stored Information and Files. The Charme Services also may access metadata and other information associated with other files stored on your device.</li></br>
										<li>Location Information. The Charme Services collect real-time information about the location of your device.</li></br>										
									</ul>

								<p>If you do not want us to collect this information, do not download the Charme App or otherwise access the Charme Services.</p>
								<p>We also may use these technologies to collect information about your activities over time and across third-party websites, apps or other online services (behavioral tracking).Information collection and tracking technologies</p>
								<p>The technologies we use for automatic information collection may include:</p>

								<ul>
									<li>Cookies. A cookie is a small file placed on your device. It may be possible to refuse to accept cookies by activating the appropriate setting on your device. However, if you select this setting you may be unable to access certain parts of the Charme Services. Charme cannot control the use of cookies (or the resulting information) by third-parties, and use of third party cookies is not covered by this policy.</li></br>
									<li>Web Beacons. Pages of the Charme Services and our e-mails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags and single-pixel gifs) that permit Charme, for example, to count users who have visited those pages (or opened an e-mail) and for other related Charme Services statistics (for example, recording popularity of certain Charme App content and verifying system and server integrity).</li></br>
									<li>Embedded Scripts. An embedded script is programming code that is designed to collect information about your interactions with the Charme Services, such as the links you click on. The code is temporarily downloaded onto your device from our web server or a third party service provider, is active only while you are connected to the Charme Services, and is deactivated or deleted thereafter.</li></br>
								</ul>

                				<h4><strong>Third party Information Collection</strong></h4>
                				<p>When you use the Charme Services, certain third parties may use automatic information collection technologies to collection information about you and your device. These third parties may include: Advertisers, ad networks and ad servers.</p>
                				<ul>
                					<li>• Analytics companies.</li>
                					<li>• Your mobile device manufacturer.</li>
									<li>• Your mobile service provider.</li>
									<li>• Our payments processor.</li>

                				</ul>

                				<p>These third parties may use tracking technologies to collect information about you when you use the Charme Services. The information they collect may be associated with your personal information or they may collect information, including personal information, about your online activities over time and across different websites, apps and other online services websites. They may use this information to provide you with interest-based (behavioral) advertising or other targeted content.</p>
                				<p>Charme does not control these third parties’ tracking technologies or how they may be used. If you have any questions about an advertisement or other targeted content, you should contact the responsible provider directly.</p>
                				<h4><strong>How we use your information</strong></h4>
                				<p>Charme uses information that we collect about you or that you provide to us, including any personal information, to:</p>
                				<ul>
                					<li>• Provide you with the Charme Services, and any other information, products or services that you request from us.</li>
                					<li>• Fulfill any other purpose for which you provide it.</li>
                					<li>• Give you notices about your account.</li>
                					<li>• Carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including our billing and collection.</li>
                					<li>• Notify you when Charme Service updates are available, and of changes to any products or services we offer or provide through the Charme App and Charme Website.</li>
                				</ul>
                				<p>The usage information we collect helps us to improve the Charme Services and to deliver a better and more personalized experience by enabling us to:</p>
                				<ul>
                					<li>• Estimate our audience size and usage patterns.</li>
                					<li>• Store information about your preferences, allowing us to customize the Charme Services according to your individual interests.</li>
                					<li>• Recognize you when you use the Charme Services.</li>
                				</ul>
                				<p>Additionally we use location information we collect to (i) provide Charme Professionals with the address of Charme Members requesting the services of Charme Professionals, (ii) track the location of Charme Professionals and (iii) for certain other purposes related thereto.</p>
                				<p>We may also use your information to contact you about our own and third parties’ goods and services that may be of interest to you. If you do not want us to use your information in this way, please check the relevant box located on the form on which we collect your data.We may use the information we collect to display advertisements to our advertisers’ target audiences. Even though we do not disclose your personal information for these purposes without your consent, if you click on or otherwise interact with an advertisement, the advertiser may assume that you meet its target criteria.</p>
                				<h4><strong>Disclosure of your information</strong></h4>
                				<p>We may disclose aggregated information about our Charme Members and Charme Professionals, and information that does not identify any individual or device, without restriction.</p>
                				<p>In addition, we may disclose personal information that we collect or you provide:</p>
                				<ul>
                					<li>• To our subsidiaries and affiliates.</li>
                					<li>• To contractors, service providers and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
                					<li>• To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation or similar proceeding, in which personal information held by us is among the assets transferred.</li>
                					<li>• To third parties to market their products or services to you if you have consented to/not opted out of these disclosures. We contractually require these third parties to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
                					<li>• To fulfill the purpose for which you provide it.</li>
                					<li>• For any other purpose disclosed by us when you provide the information.</li>
                					<li>• With your consent.</li>
                					<li>• To comply with any court order, law or legal process, including to respond to any government or regulatory request.</li>
                					<li>• To enforce our rights arising from any contracts entered into between you and us, including for billing and collection.</li>
                					<li>• If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Charme, Charme Members, Charme Professionals or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</li>
                				</ul>
                				<h4><strong>Your choices about our collection, use and disclosure of your information</strong></h4>
                				<p>We strive to provide you with choices regarding the personal information you provide to us. This section describes mechanisms we provide for you to control certain uses and disclosures of over your information.</p>
                				<ul>
                					<li>• Tracking Technologies. You can set your browser to refuse all or some browser cookies, or to alert you when cookies are being sent. If you disable or refuse cookies or block the use of other tracking technologies, some parts of the Charme Services may then be inaccessible or not function properly.</li>
                					<li>• Location Information. You can choose whether or not to allow the Charme Services to collect and use real-time information about your device’s location through the device’s Privacy settings. If you block the use of location information the Charme Services may then be inaccessible and will not function properly.</li>
                					<li>• Promotion by the Company. If you do not want us to use your e-mail address to promote our own or third parties’ products or services, you can opt-out by logging into the Charme Services and adjusting your user preferences in your account profile by checking or unchecking the relevant boxes or by sending us an e-mail stating your request to Privacy@Charmeapp.com</li>
                					<li>• Targeted Advertising by the Company. If you do not want us to use information that we collect or that you provide to us to deliver advertisements according to our advertisers’ target-audience preferences, you can opt-out by sending us an e-mail stating your request to Privacy@Charmeapp.com.</li>
                					<li>• Disclosure of Your Information for Third-Party Advertising and Marketing. If you do not want us to share your personal information with unaffiliated or non-agent third parties for advertising and marketing purposes, you can opt-out by sending us an e-mail stating your request to Privacy@Charmeapp.com.</li>
                				</ul>
                				<p>We do not control third parties’ collection or use of your information to serve interest-based advertising. However, these third parties may provide you with ways to choose not to have your information collected or used in this way. You can opt out of receiving targeted ads from members of the Network Advertising Initiative (“NAI”) on the NAI’s website.</p>
                				<h4><strong>Accessing and correcting your personal information</strong></h4>
                				<p>You can review and change your personal information by logging into the Charme Services and visiting your account profile page.
You may also send us an e-mail at Privacy@charmeapp.com to request access to, correct or delete any personal information that you have provided to us. We cannot delete your personal information except by also deleting your user account. We may not accommodate a request to change information if we believe the change would violate any law or legal requirement or cause the information to be incorrect.</p>
								<h4><strong>Data security</strong></h4>
								<p>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration and disclosure. All information you provide to us is stored on our secure servers behind firewalls. All information you provide to us through your use of the Charme Services will be encrypted using SSL technology.
The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access the Charme Services, you are responsible for keeping this password confidential. We ask you not to share your password with anyone.
Unfortunately, the transmission of information via the internet and mobile platforms is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted through the Charme Services. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any Privacy settings or security measures we provide.</p>
									<p>
										Contact information</br>
										To ask questions or comment about this Privacy policy and our Privacy practices, contact us at Privacy@Charmeapp.com.
									</p>
								</div>
						   </div>
						   
						</div>

					</div>


	</div>

